h1 {
    text-align: center;
    padding-left: .5em;
    color: #dad7cd;
    background-color: #3a5a40;
    margin: 20px;
    font-size: 35px;
}

h3 {
    text-align: center;
    padding-left: .5em;
    color: #dad7cd;
    background-color: #3a5a40;
    margin: 20px;
    font-size: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.link-list {
    text-align: center;
    padding-right: 2em;
    color:#a3b18a;
    background-color:#3a5a40;
    margin-left: 400px;
    margin-right: 400px;
}

body {
    background-color: #344e41;
}

ul {
    list-style-type: none;
    color: #dad7cd;
}

ol {
    color:#dad7cd;
    margin-left: 20px;
    font-size:large;
}

strong {
    font-size: 24px;
}

p {
    color: #dad7cd;
    text-align: left;
    font-size:large;
    padding: 0px;
    margin-left: 40px;
}

